# This rule is not used by the deployment-controller itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the deployments.kuberik.com.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: deployment-controller
    app.kubernetes.io/managed-by: kustomize
  name: deployment-editor-role
rules:
- apiGroups:
  - deployments.kuberik.com
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - deployments.kuberik.com
  resources:
  - deployments/status
  verbs:
  - get
